fieldset {
    padding: 0.35em 0.625em 0.75em;
}

legend {
    margin-bottom: 0;
    width: auto;
}

text {
    font-size: 16px;
}

#svg {
    margin-bottom: 5px;
}

.copyright-brat {
    text-align: right;
    font-size: 10px;
    color: gray;
    margin-bottom: 20px;
}